@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.container{
    position: relative;
}

.home{
    background-color: #636c79;
    height: 100vh;
}

.nav{
    padding: 0 100px;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.nav-logo{
    height: 40px;
}

.list > ul{
    display: flex;
    height: 15vh;
    align-items: center;
    gap: 50px;
}

.item{
    list-style-type: none;
    font-size: 16px;
    text-transform: capitalize;
}

.list > ul > .item:last-child> button{
    padding: 10px 50px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

.section{
    height: 500px;
    padding: 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 30px ;
}

.section > img{
    height: 420px;
    width: 450px;
    border-radius: 10px;
}

.right-section{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.right-section > h1{
    font-size: 60px;
    color: #fff;
    line-height: 80px;
}

.right-section > p{
    font-size: 18px;
    color: #fff;
}

.input-container{
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.input-container > input{
    width: 70%;
    border: none;
}

.input-container > input::placeholder{
    font-size: 18px;
}

.input-container > button{
    font-size: 18px;
    padding: 5px 20px;
    text-transform: capitalize;
    color: #fff;
    background-color: #8bb7a2;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.section-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    margin: 100px 0;
}

.section-three > h1{
    font-size: 50px;
    text-align: center;
    font-weight: 600;
}

.content{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.inner-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.section-three > img{
    width: 78rem;
    height: 500px;
}

.section-four{
    font-size: 50px;
    text-align: center;
    font-weight: 600;
}

.section-five{
    display: flex;
    justify-content: space-evenly;
    margin: 70px 0;
}

.section-five > .left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section-five > .left > h1{
    font-weight: 600;
    font-size: 50px;
}

.section-five > .left > p{
    font-size: 20px;
}

.section-five > .left> button{
    padding: 15px 30px;
    text-transform: capitalize;
    color: #fff;
    background-color: #8bb7a2;
    border: none;
    align-self: flex-start;
    font-size: 18px;
}

.section-five > img{
    width: 34rem;
    height: 500px;
}

.section-eight{
    padding: 0 100px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-eight > h1{
    font-size: 2.8rem;
    font-weight: 600;
}

.section-eight > p{
    font-size: 20px;
    color: #8d8d8d;
}

.section-nine{
    padding: 0 100px;
    display: flex;
    gap: 90px;
}

.section-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-card > img{
    width: 380px;
    height: 440px;
}

.section-card > h4{
    font-size: 20px;
}

.section-card > p{
    font-size: 16px;
    color: #8d8d8d;
}

.section-ten{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.section-ten > button{
    padding: 15px 30px;
    text-transform: capitalize;
    color: #fff;
    background-color: #8bb7a2;
    border: none;
    font-size: 18px;
}

.footer{
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    background-color: #0d0d0d;
    color: #fff;
}

.footer-top{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
}

.icons{
    display: flex;
    gap: 50px;
}

.icons > i{
    transform: scale(1.5);
}

.footer-bottom{
    margin: 80px 0;
    display: flex;
    gap: 162px;
}

.footer-bottom-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-bottom-content > p{
    font-size: 16px;
    text-transform: capitalize;
    color: #8d8d8d;
}

.footer-bottom-content > p:first-child{
    font-size: 18px;
    color: #fff;
}